<!DOCTYPE html>
<html>

<head>
</head>

<body>

    <table>
        <tr>
            <td>ID</td>
            <td>{{ liquidacion[0] }}</td>
        </tr>
        <tr>
            <td>Salario por hora</td>
            <td>{{ liquidacion[1] }}</td>
        </tr>
        <tr>
            <td>Dias trabajados</td>
            <td>{{ liquidacion[2] }}</td>
        </tr>
        <tr>
            <td>Vacaciones pendientes</td>
            <td>{{ liquidacion[3] }}</td>
        </tr>
        <tr>
            <td>Aplica indemnizacion</td>
            <td>{{ liquidacion[4] }}</td>
        </tr>
        <tr>
            <td>Valor indemnizacion</td>
            <td>{{ liquidacion[5] }}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td>{{ liquidacion[6] }}</td>
        </tr>
    </table>

    <br>
    <a href="/">Volver</a>

</body>

</html>
